
/*@font-face {
    font-family: 'circular';
    src: url("./assets/fonts/circular_font.otf") format("opentype")
}*/
//variáveis
$primary-claro: #93D5DC;
$primary-medio1: #65C3CD;
$primary-medio2: #32909A;
$primary-escuro: #14393E;

@import "./reset.css";
@import "./header.scss";
@import "./footer.scss";
@import "./main.scss";

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
    //Edit:
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(180deg, whitesmoke 0%, $primary-claro 100%);
    backdrop-filter: blur(250px);
    width : 100%;
    margin : 0 auto;
    height: 100000px;

    header, main, footer {
        @media only screen and (max-width: 600px) {
            padding: 10px 30px;
        }
        padding: 50px 100px;
        width: 100%;
    }
}

strong{
    font-weight: bold;
}

.text {
    font-family: "Poppins", sans-serif;
}

p, h2 {
    @extend .text;
}

.icons {
    a:not(:first-of-type) {
        margin-left: 6px;
    }

    img {
        width: 30px;
        height: 30px;
    }
}